<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Portal" connectionString="server=172.25.16.39;database=ExamityPortal;uid=core;pwd=C0r35ql"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="SERVER" value="[172.25.16.39]"/>
		<add key="SourceSERVER" value="172.25.16.39"/>-->

		<add key="SERVER" value="[172.25.16.39]"/>
		<add key="SourceSERVER" value="172.25.16.39"/>
		
	</appSettings>
</configuration>